<link rel="stylesheet" href="./css/home.css">

<header>
    <h1>CodeSpot</h1>
</header>

<nav>
    <div class="flex-row flex-center">
        <a href="#about">About</a>
        <a href="#technical">Technical</a>
        <a href="#login">Login</a>
    </ul>
</nav>

<div id="about" class="vertical-view-auto">
    <div class="fill-wide flex-row flex-center">
        <img class="mg-20 mg-top-50" src="./assets/imgs/banner.png" alt="">
    </div>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui at consectetur quod rerum, illum dolorum magni quo voluptates, voluptatem labore tempora quam expedita corporis est debitis numquam necessitatibus animi molestias. Esse beatae velit facilis labore fugit eos neque eum, accusamus magnam! Facere harum aperiam voluptate sit error quod sapiente quo!</p>
    </div>
    
</div>


