<link rel="stylesheet" href="./css/home.css">

<header>
    <h1>CodeSpot</h1>
</header>

<nav>
    <div class="flex-row-wrap flex-center">
        <a href="#about">About</a>
        <a href="#technical">Technical</a>
        <a href="#login">Login</a>
    </ul>
</nav>

<div id="about" class="vertical-view fit-small-screen">
    <div class="fill-three-quarters-wide center-wide fit-small-screen">

        <div class="flex-row-wrap mg-6-top pd-2-all">
            <div class="flex-2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos illo tenetur esse similique nam quae, et fugit officiis quibusdam laudantium!</p>
            </div>

            <div class="flex-1 flex-row-wrap flex-center">
                <img src="./assets/imgs/banner.png" alt="">
            </div>

            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui at consectetur quod rerum, illum 
                    dolorum magni quo voluptates, voluptatem labore tempora quam expedita corporis est debitis numquam 
                    necessitatibus animi molestias. Esse beatae velit facilis labore fugit eos neque eum, accusamus 
                    magnam! Facere harum aperiam voluptate sit error quod sapiente quo!
                </p>
            </div>
        </div>

    </div>
</div>


